.footer {
  background-color: #403c3c;
  padding: 10px;
}

.footer-content {
  text-align: center;
  margin-bottom: 20px;
}

.footer h3 {
  color: #fff;
  font-size: 24px;
}

.footer p {
  color: #fff;
  font-size: 14px;
}

.footer-links ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.footer-links li {
  margin-right: 20px;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.footer-links a:hover {
  color: #fff;
}

.footer-social a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
  padding: 5px;
}

.footer-social a:hover {
  color: #fff;
}

.footer-social a i {
  font-size: 2em;
  color: black;
  opacity: 0, 9;
}

.footer-copyright {
  text-align: center;
  color: #fff;
  font-size: 12px;
}

/* Animation */
.footer-content,
.footer-links,
.footer-social,
.footer-copyright {
  opacity: 0;
  transform: translateY(20px);
  animation: fade-in 0.5s ease-in-out 0.3s forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.contact-info {
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: height 0.3s ease, opacity 0.3s ease;
}

.contact-info.show {
  height: auto;
  opacity: 1;
}
.footer-links a,
.footer-social a {
  transition: color 0.3s ease-in-out;
}

.footer-links a:hover,
.footer-social a:hover {
  color: #ff6347;
}
