.App {
  text-align: center;
  height: 100%;
  margin: 0;
  padding: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  display: flex;
  width: 100%;
}
.App{
  background: #0F2027;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: #78718E;
}

.left-panel,
.middle-panel {
  border: 3px solid lightgrey;
  border-radius: 3px;
  margin: 2px;
  width: 16%;
}
.right-panel {
  border: 3px solid lightgrey;
  border-radius: 3px;
  margin: 2px;
  width: 48%;
  background-image: linear-gradient(to right, #2c3e50, #4ca1af);
  background: #4B4269;
}
.most-right-panel{
  border: 3px solid lightgrey;
  border-radius: 6px;
  margin: 2px;
  width: 20%;
  background-image: linear-gradient(to right, #5a3f37, #2c7744);
  background: #392F5A;
}

.left-panel {
  background-image: linear-gradient(to right, #5a3f37, #2c7744);
  background: #6A6383;
}

.middle-panel {
  background-image: linear-gradient(to right, #141e30, #243b55);
  background: #534B70;
}

.VehicleManagement{
  font-size: large;
  padding: 0px;
  margin: 0px;
  background-color: #D4CA9F;
}
.DriverManagement{
  font-size: large;
  background-color: #D4CA9F;
  padding: 0px;
  margin: 0px;
}

.PlanManagement{
  background-color: #d6dae4;
  padding: 0px;
  margin: 0px;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.input-field {
  margin-bottom: 5px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.add-trip-button {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.VehicleUnit{
  width: 98%;
  text-align: left;
  background-color:#d9d9d9;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 10px;
}

.VehicleName{
  font-size: 15px;
  font-weight: bold;
}

.VehicleDetails{
  font-size: 15px;
  font-style: italic;
}

.vl{
  color: white;
  font-size: 15px;
  font-style: italic;
  text-align: left;
}

.DriverUnit{
  width: 98%;
  text-align: left;
  background-color:#d9d9d9;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 10px;
}
.DriverName{
  font-size: 15px;
  font-weight: bold;
}
.DriverDetails{
  font-size: 15px;
  font-style: italic;
}

.dl{
  color: white;
  font-size: 15px;
  font-style: italic;
  text-align: left;
}

.TripManagement{
  background-color: #c9c0c0;
  padding: 0px;
  margin: 0px;
}
.Pm{
  padding: 0px;
  margin: 0px;
  color: white;
}

.TripUnit{
  text-align: center;
  font-size: large;
  background-color:#d9d9d9;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 10px;
}

.TripTable{
  border-radius: 2px;
  border: #000;
  border-radius: 2px solid;
}

.TripValueName{
  background-color: #342B52;
  color: white;
  font-weight: bold;

}


.Actions{
  background-color: #D4CA9F;
  padding: 0px;
  margin: 0px;
}

.buttons{
  background-color: #d9d9d9;
  border: 5px solid #000;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
}

.AddTripBlock{
  background-color: #d9d9d9;
  border: 5px solid #000;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
}
.AddTripText{
  margin: 2px;
  font-size: 20px;
  font-weight: bold;
  color: rgb(9, 3, 3);
}

body {
  background-color: #333;
}
.wrapper {
  width: 300px;
  height: 200px;
  margin: 0px auto;
  background-color: #FFF;
  padding-top: 80px;
}
.pillars {
  width: 180px;
  height: 118px;
  margin: 0 auto;
  position: relative;
}
.pillar {
  width: 20px;
  height: 100%;
  margin: 0px 8px;
  background-color: #333;
  float: left;
  opacity: 0;
}
.mask {
  width: 180px;
  background-color: #fff;
  height: 45px;
  z-index: 999999;
  clear: left;
  position: absolute;
  border-bottom-right-radius: 100%;
  border-bottom-left-radius: 100%;
}
.pillar1 {
  animation: anim 5s ease-out 0s infinite ;
}
.pillar2 {
  animation: anim2 5s ease-out 0s infinite ;
}
.pillar3 {
  animation: anim3 5s ease-out 0s infinite ;
}
.pillar4 {
  animation: anim4 5s ease-out 0s infinite;
}
.pillar5 {
  animation: anim5 5s ease-out 0s infinite ;
}

@keyframes anim {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  80% {
    opacity:1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes anim2{
    0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  80% {
    opacity:1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes anim3{
    0% { opacity: 0; }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  80% {
    opacity:1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes anim4{
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  80% {
    opacity:1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes anim5{
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  80% {
    opacity:0;
  }
  100% {
    opacity: 1;
  }
}

.wrapper{
  max-width: 99%;
}
.tripTripUnit{
  max-width: 100%;
}
.piechart{
  max-width: 100%;
  background-color: #d9d9d9;
  border-radius:  5px;
}
.highlight {
  color: yellow;
}
.empty-input-field {
  border: 1px solid red;
  background-color: #ffeeee; /* Light red background color */
  color: red; /* Red text color */
  margin-bottom: 5px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.divider {
  border-bottom: 5px solid #ffffff; /* Đường gạch */
  max-width: 100%;
  margin-top: 20px; /* Khoảng cách giữa đường gạch và nội dung phía trên */
}

.graph {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

/* Login */
